/* You can add global styles to this file, and also import other style files */
body {
  background-color: ghostwhite;
}

.container {
  background-color: aliceblue;
  margin: 2rem;
  padding: 1rem;
  border: 1px solid lightgray;
  border-radius: 0.75rem;
}

h1 {
  margin: 3rem;
}

button {
  padding: 1rem;
  border-radius: 0.75rem;
  background-color: cornflowerblue;
  border: 1px solid lightgray;
}

.done {
  margin-top: 1rem;
  margin-right: 1rem;
}