// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
          color: (
                  primary: mat.$cyan-palette,
                  tertiary: mat.$orange-palette,
          ),
          typography: Roboto,
          density: 0,
  ));

  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light dark;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}

/* You can add global styles to this file, and also import other style files */

.card {
  padding: 0.5em;
  margin: 0;
  width: calc(100% - 1rem);
  height: calc(100% - 1rem);

  mat-chip {
    transform: translateY(-3px);
  }

  mat-card-title {
    margin-bottom: 2rem;
  }
}

.sheetForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  mat-form-field {
    width: calc(100% - 2rem);
    margin-inline: 1rem;
    margin-top: 1rem;
  }
}

.formButton {
  margin: 1rem;
}

.formButtonContainer {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;

  mat-spinner {
    margin: 1rem auto 1rem 1rem;
  }
}

button {
  margin-top: 1rem;
  margin-right: 1rem;
}

mat-chip {
  display: block;
  margin-left: 1rem;
  margin-bottom: 1.5rem;
}

.reminderItem {
  display: flex;
  flex-direction: column;

  .header {
    padding-top: 1rem;
    margin-bottom: -0.5rem;

    .date {
      margin-top: 0.5rem;
      position: absolute;
      right: 1.5rem;
    }

    mat-chip {
      transform: translateY(0.5px);
    }
  }

  .buttons {
    align-content: center;

    mat-checkbox {
      transform: translateY(-0.5rem);
    }

    button {
      margin: 0 1rem 1rem 0;
    }
  }

  p {
    margin-block: 0;
    padding-block-end: 1.5rem;
  }
}

.desc {
  padding-bottom: 1rem;
  margin-bottom: 0;
}

.title {
  margin-left: 1rem;
}

.header {
  min-height: 3.8rem;
}

h1 {
  margin-block-start: 4rem;
  margin-block-end: 2rem;
}

h2 {
  margin-top: 2rem
}

.buttonsRem {
  margin-left: 1rem;
  margin-top: 1rem;
}

mat-grid-list {
  margin: 1rem;
}

.open {
}

note-creation, reminder-creation, tag-creation {
  position: fixed;
  right: 4rem;
  bottom: 4rem;
  z-index: 100000000;

  button {
    margin: 0;
  }
}

.spacer {
  flex: 1 1 auto;
}

mat-spinner {
  margin: 1rem;
}

.tagContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
  margin-inline: auto;
  max-width: 400px;
}

.searchbar {
  width: calc(100vw - 2rem);
  max-width: calc(600px + 1rem);
  margin-block: 1rem;
  margin-top: 2rem;
  margin-inline: calc(50vw - min(50vw - 1rem, 300px + 0.5rem));
}

.searchRes {
  width: calc(100vw - 2rem);
  max-width: calc(600px + 1rem);
  margin-block: 1rem;
  margin-inline: calc(50vw - min(50vw - 1rem, 300px + 0.5rem));
  margin-top: 0;
  margin-bottom: 2rem;
}

.warning {
  width: calc(100vw - 2rem);
  max-width: calc(600px + 1rem);
  margin-block: 1rem;
  margin-inline: calc(50vw - min(50vw - 1rem, 300px + 0.5rem));
  margin-top: 0;
  margin-bottom: 2rem;
  color: #ff1744;

  .bold {
    font-weight: bold;
  }
}

mat-tab {
  overflow-x: hidden;
}

.tableWrapper {
  width: calc(100vw - 2rem);
  max-width: calc(800px + 1rem);
  margin-block: 1rem;
  margin-inline: calc(50vw - min(50vw - 1rem, 400px + 0.5rem));
}

mat-table {
  mat-chip {
    margin-block: 1rem;
  }

  width: auto;

  ng-container, mat-header-cell, mat-cell, mat-header-row, mat-row {
    width: auto;
    overflow-x: hidden;
  }
}

html, body {
  padding-inline: 0;
}

body {
  margin: 0;
  font-family: Roboto,
  "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}
